<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/fragments.html::cabecera}">
    <title>Hoteles Galicia</title>
</head>

<body>
    <header th:replace="~{/fragments.html::logo}"></header>
    <nav th:replace="~{/fragments.html::navbar}"></nav>
    <main>
        <h3 class="mb-4">Reseñas de <span th:text="${nombre}"></span></h3>
        <a th:if="${type == 'hotels'}" th:href="@{/hotel/{id} (id=${id})}" class="btn btn-primary me-auto">Volver</a>
        <a th:if="${type == 'users'}" th:href="@{/admin/users/{id} (id=${id})}"
            class="btn btn-primary me-auto">Volver</a>
        <div class="w-100">
            <div th:each="valo:${valoraciones}" class="item-card d-flex flex-row border rounded-3 my-3">
                <div class="card-col-primary">
                    <h5 th:if="${type == 'users'}">Hotel</h5>
                    <h5 th:if="${type == 'hotels'}">Cliente</h5>
                    <p>
                        <a th:if="${type == 'users'}" th:href="@{/hotel/{id} (id=${valo.hotel.id})}"
                            th:text="${valo.hotel.nombre}"></a>
                        <a th:if="${type == 'hotels'}" th:href="@{/admin/users/{id} (id=${valo.cliente.id})}"
                            th:text="${valo.cliente.nombre + ' ' + valo.cliente.apellido}"></a>
                    </p>

                </div>

                <div class="card-col-content w-auto">
                    <h5>Comentario</h5>
                    <p th:text="${valo.comentario}"></p>
                </div>
                <div class="card-col-secondary">
                    <h5>Fecha</h5>
                    <p class="card-date" th:text="${#temporals.format(valo.fecha, 'dd MMM yyyy')}"></p>
                </div>
                <div class="card-col-stat">
                    <h5>Puntaje</h5>
                    <p th:text="${valo.puntaje}"></p>
                </div>
                <form th:action="@{/admin/{type}/{id}/reviews/delete(type=${type},id=${id})}" method="post"
                    onsubmit="return confirm('¿Desea borrar la reseña?')" class="card-col-action card-col-lone">
                    <input type="hidden" name="idhotel" th:value="${valo.hotel.id}" />
                    <input type="hidden" name="iduser" th:value="${valo.cliente.id}" />
                    <button type="submit" class="btn btn-link p-0" title="Eliminar reseña">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </form>
            </div>
        </div>
        <div th:if="${totalPages > 1}" class="container d-flex justify-content-center mt-4 mb-5">
            <nav aria-label="Navegación de reseñas" class="paginador">
                <ul class="pagination justify-content-center">

                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link" th:href="@{/admin/{type}/{id}/reviews(type=${type}, id=${id}, page=0)}">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/admin/{type}/{id}/reviews(type=${type}, id=${id}, page=${currentPage - 1})}">
                            Anterior
                        </a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:if="${i >= currentPage - 2 and i <= currentPage + 2}" class="page-item"
                        th:classappend="${currentPage == i} ? 'active'">
                        <a class="page-link" th:href="@{/admin/{type}/{id}/reviews(type=${type}, id=${id}, page=${i})}"
                            th:text="${i + 1}">1</a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/admin/{type}/{id}/reviews(type=${type}, id=${id}, page=${currentPage + 1})}">
                            Siguiente
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/admin/{type}/{id}/reviews(type=${type}, id=${id}, page=${totalPages - 1})}">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </main>
    <footer th:replace="~{/fragments.html::pie}"></footer>
    <div th:replace="~{/fragments.html::alertas}"></div>
</body>

</html>