<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/fragments.html::cabecera}">
    <title>Hoteles Galicia</title>
</head>

<body>
    <header th:replace="~{/fragments.html::logo}"></header>
    <nav th:replace="~{/fragments.html::navbar}"></nav>
    <main>
        <div>
            <h2 class="my-4">Actualización de contraseña:</h2>
            <form class="row g-3 formregistro" method="post" action="#" th:action="@{/enterprise/password/submit}"
                th:object="${formulario}">
                <div class="col-md-12">
                    <label for="claveActual" class="form-label"><b>Ingrese su contraseña actual</b> </label>
                    <input type="password" class="form-control" th:field="*{claveActual}" id="claveActual">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('claveActual')}"
                        th:errors="*{claveActual}">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="claveNueva" class="form-label"><b>Ingrese su nueva contraseña</b> </label>
                    <input type="password" class="form-control" th:field="*{claveNueva}" id="claveNueva">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('claveNueva')}"
                        th:errors="*{claveNueva}">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="claveRepetir" class="form-label"><b>Repita su nueva contraseña</b> </label>
                    <input type="password" class="form-control" th:field="*{claveRepetir}" id="claveRepetir"
                        title="Ingrese su contraseña para confirmar los cambios">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('claveRepetir')}"
                        th:errors="*{claveRepetir}">
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <button type="reset" class="btn btn-info float-right">Reestablecer</button>
                    <a class="btn btn-primary" th:href="@{/enterprise/profile}">Volver</a>
                </div>
            </form>
        </div>
        </div>

    </main>
    <footer th:replace="~{/fragments.html::pie}"></footer>
    <div th:replace="~{/fragments.html::alertas}"></div>
</body>

</html>