<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/fragments.html::cabecera}">
    <title th:text="${hotel.nombre}">Hoteles Galicia</title>
</head>

<body class="hotelview">
    <header th:replace="~{/fragments.html::logo}"></header>
    <nav th:replace="~{/fragments.html::navbar}"></nav>
    <main class="w-100">
        <div class="container-sm mt-1 w-100 mb-4">
            <div class="minicaja container my-2 mx-2">
                <p>Puntuación: <span class="blueIcon rounded" th:text="${hotel.puntaje}"></span></p>
                <p><span th:text="${valoraciones.size}"></span> Reseñas</p>
            </div>
            <h1 th:text="${hotel.nombre}"></h1>
            <p><i class="bi bi-geo-alt-fill"></i> <span th:text="${hotel.direccion}"></span> - <span
                    th:text="${hotel.municipio.provincia.nombre}"></span></p>
            <div>
                <p>Opciones:</p>
                <div class="d-flex flex-row">
                    <a th:href="@{/enterprise/hotels/{id}/reserves (id=${hotel.id})}" class="btn btn-dark me-2">Ver
                        Reservas</a>
                    <a th:href="@{/enterprise/hotels/{id}/habitacion/new (id=${hotel.id})}"
                        class="btn btn-dark mx-2">Crear habitacion</a>
                    <a th:href="@{/enterprise/hotels/{id}/edit (id=${hotel.id})}" class="btn btn-dark mx-2">Modificar
                        datos</a>
                </div>
            </div>

            <div class="container mt-4">
                <div class="row g-3">

                    <!-- Imagen principal del hotel (2x2) -->
                    <div class="col-md-8">
                        <div class="hotel-image-big h-100">
                            <img th:src="@{'/files/' + ${hotel.imagen}}" class="img-fluid rounded">
                        </div>
                    </div>

                    <div class="col-md-4 d-flex flex-column gap-3">
                        <div th:each="hab, iter : ${habitaciones}" th:if="${iter.index < 2}">
                            <img th:src="@{'/files/' + ${hab.imagen}}" class="img-fluid rounded">
                        </div>
                    </div>

                </div>

                <!-- Cuadrícula de habitaciones debajo (3 por fila) -->
                <div class="row mt-1 g-3">
                    <div th:each="hab, iter : ${habitaciones}" th:if="${iter.index >= 2}" class="col-md-4">
                        <img th:src="@{'/files/' + ${hab.imagen}}" class="img-fluid rounded">
                    </div>
                </div>
            </div>

            <br>
            <p class="p-descripcion mt-3 container" th:text="${hotel.descripcion}"></p>

        </div>

        <div class="container w-100">
            <h4>Habitaciones <a th:href="@{/enterprise/hotels/{id}/habitacion/new (id=${hotel.id})}"
                    class="btn btn-dark mx-2">Crear habitacion</a></h4>
            <div class="d-flex flex-row">
                <table class="table table-hover table-bordered border-gray">
                    <thead class="bg-dark bg-gradient hotelheader">
                        <th>Tipo de habitación</th>
                        <th>Personas</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </thead>
                    <tbody>
                        <tr th:each="habi, iterHab:${habitaciones}">
                            <td class="d-flex flex-row py-3"> 
                                <img class="rounded-3 imagenminihotel" th:src="'/files/'+${habi.imagen}">
                                <div>
                                    <h5 th:text="${habi.nombre}"></h5>
                                    <p th:text="${habi.descripcion}"></p>
                                </div>
                            </td>
                            <td><i th:each="i : ${#numbers.sequence(1, habi.capacidad)}"
                                    class="bi bi-person-standing"></i></td>
                            <td>
                                <p th:text="'€ ' + ${#numbers.formatDecimal(habi.precio,0,0)}"></p>
                            </td>
                            <td>
                                <p th:text="${habi.cantidad}"></p>
                            </td>
                            <td>
                                <p th:text="${habi.estado}"></p>
                            </td>
                            <td>
                                <div th:if="${habi.estado.name() != 'ELIMINADA'}">
                                    <a th:href="@{/enterprise/hotels/{id}/habitacion/edit/{habId} (id=${hotel.id}, habId=${habi.id})}"
                                        class="btn btn-dark w-100 mb-1 p-1">Modifcar</a>
                                    <a th:href="@{/enterprise/hotels/{id}/habitacion/status/{habId} (id=${hotel.id}, habId=${habi.id})}"
                                        class="btn btn-dark w-100 mb-1 p-1">Estado</a>
                                    <a th:href="@{/enterprise/hotels/{id}/habitacion/delete/{habId} (id=${hotel.id}, habId=${habi.id})}"
                                        class="btn btn-dark w-100 mb-1 p-1"
                                        onclick="return confirm('Está seguro de que desea eliminar la habitación?')">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="faketable table-bordered border-gray" sec:authorize="hasAnyRole('USER')">
                    <div class="fakeheader td w-100"></div>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex flex-column align-items-center container-sm">
            <h4>Reseñas de usuarios:</h4>
            <div class="cajavaloramain">
                <div class="container cajavalora" th:each="valora:${valoraciones}">
                    <p class="blueIcon float-end rounded" th:text="${valora.puntaje}"></p>
                    <h5><span th:text="${valora.cliente.nombre}"></span> <span class="minitexto"
                            th:text="${#temporals.format(valora.fecha, 'dd MMMM yyyy')}"></span></h5>
                    <p th:text="${valora.comentario}"></p>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{/fragments.html::pie}"></footer>
    <script th:src="@{/js/hotelDetail.js}"></script>
    <div th:replace="~{/fragments.html::alertas}"></div>
    <script th:src="@{/js/alertas.js}"></script>
</body>

</html>