<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/fragments.html::cabecera}">
    <title>Hoteles Galicia</title>
</head>

<body>
    <header th:replace="~{/fragments.html::logo}"></header>
    <nav th:replace="~{/fragments.html::navbar}"></nav>
    <main>
        <div class="w-100">
            <h3 class="mb-4">Reseñas del usuario</h3>
            <div th:each="valo:${valoraciones}" class="item-card d-flex flex-row border rounded-3 my-3">
                <div class="card-col-primary">
                    <h5>Hotel</h5>
                    <p><a th:href="@{/hotel/{id} (id=${valo.hotel.id})}" th:text="${valo.hotel.nombre}"></a></p>
                </div>
                <div class="card-col-content w-auto">
                    <h5>Comentario</h5>
                    <p th:text="${valo.comentario}"></p>
                </div>
                <div class="card-col-secondary">
                    <h5>Fecha</h5>
                    <p class="card-date" th:text="${#temporals.format(valo.fecha, 'dd MMM yyyy')}"></p>
                </div>
                <div class="card-col-stat">
                    <h5>Puntaje</h5>
                    <p th:text="${valo.puntaje}"></p>
                </div>
                <form th:action="@{/user/valoraciones/delete}" method="post"
                    onsubmit="return confirm('¿Desea borrar la reseña?')" class="card-col-action card-col-lone">
                    <input type="hidden" name="id" th:value="${valo.hotel.id}" />
                    <button type="submit" class="btn btn-link p-0">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </form>
            </div>
        </div>
        <nav th:if="${totalPages > 1}" class="mt-4 paginador">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/user/valorations(page=${currentPage - 1})}">Anterior</a>
                </li>

                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/user/valorations(page=${i})}" th:text="${i + 1}"></a>
                </li>

                <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/user/valorations(page=${currentPage + 1})}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </main>
    <footer th:replace="~{/fragments.html::pie}"></footer>
    <div th:replace="~{/fragments.html::alertas}"></div>
</body>

</html>