* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

th {
    font-size: 0.9em;
}

header {
    color: white;
    background-color: darkblue;
    padding: 10px 20px 0px 20px;
}

.paginador {
    background-color: inherit;
}

nav {
    width: 100%;
    min-height: fit-content;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    background-color: darkblue;
}

nav ul {
    width: 100%;
    margin: 0px;
}

nav li {
    /* font-weight: bold; */
    font-size: 12pt;
    margin-left: 5%;
}

/* Vinculos de barra y logo */
.nav-link {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: white;
    align-items: center;
    max-width: 80%;
    min-width: 75%;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formregistro {
    min-width: 300px;
    max-width: 800px;
}
.formlogin {
    min-width: 300px;
    max-width: 400px;
}

/* Ajuste del flex para el panel de inicio */
#inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    color: white;
    font-size: 8pt;
    min-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: darkblue;
}

footer>p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.ajuste {
    min-width: 200px !important;
}

/* ontenedor de panel de registro */
.cregister {
    margin: 50px, 50%;
    align-items: center;
    min-width: fit-content;
    text-align: center;
}


.cajamain {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

/*Contenedor de cajas de hoteles*/
.mainlist {
    align-self: flex-start;
}

/* Barra de busqueda */
.busqueda {
    flex: 0 1 450px;
    min-width: 250px;
    margin: 10px;
    max-height: fit-content;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    padding: 5px;
    align-self: flex-start;
}

/* Caja de las miniaturas */
.caja {
    height: 250px;
    min-width: 600px;
    max-width: 800px;
    margin: 10px 20px 20px;
    padding: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.caja-alt {
    max-height: 250px;
    min-width: 600px;
    margin: 10px 20px 20px;
    padding: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-self: center;
}

/* Imagen miniaturas */
.imgcaja {
    grid-area: left;
    width: 200px;
    height: 200px;
    min-width: 150px;
    min-height: 150px;
    align-self: center;
    margin: 10px;
}

/* Caja del texto de miniaturas */
.caja2 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.cajamain p {
    word-break: break-all;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.caja img {
    margin-right: 15px;
}

/* Caja de datos de habitacion de miniatura */
.cajabottom {
    margin-top: auto;
}

/* Caja con el puntaje de la miniatura */
.minicaja {
    margin: 0px;
    padding: 0px;
    width: fit-content;
    min-width: fit-content;
    float: right;
    margin-left: 10px;
    /* grid-column: 3;
    grid-area: right;
    align-self: right; */
}

.minicaja p {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

/* Icono azul de puntaje */
.blueIcon {
    background-color: blue;
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: 3px;
    text-align: center;
    width: 30px;
}

/* Componentes de panel de hotel */


/* Panel de valoraciones de hotel */

.cajaimagenes {
    display: flex;
    flex-direction: row;
}

.hotel-image-big img {
    width: 100%;
    margin-bottom: 0px;
    height: 100%;
}

.cajavaloraform {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    margin: 10px 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.cajavaloraform>* {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cajavaloraform textarea {
    height: 100px;
}

.cajavaloramain {
    display: grid;
    grid-template-areas: 'left center right';
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10%;
    width: max-content;
}

.cajavalora {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    height: 200px;
    width: 350px;
}

/* Generic item card layout (responsive) */
.item-card {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: stretch;
    width: 100%;
}

.card-col-user {
    /* max-width: 220px; */
    width: 30%;
    min-width: 100px;
    padding: 10px;
}

.card-col-primary {
    /* max-width: 220px; */
    width: 40%;
    /* min-width: 200px; */
    padding: 10px;
}

.card-col-content {
    min-width: 160px;
    padding: 10px;
    width: 50% !important;
}

.card-col-stat {
    max-width: 80px;
    padding: 10px;
    text-align: center;
}

.card-col-options {
    width: 100%;
    min-width: 40px;
    max-width: 80px;
    display: flex;
    flex-direction: row;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    margin-left: auto;
}

.card-col-action {
    width: 100%;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc3545;
    /* danger red */
    color: white !important;
    margin-left: auto;
}

.card-col-info {
    width: 100%;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
    color: white !important;
    margin-left: auto;
}


.card-col-lone {
    width: 40px !important;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    margin-left: auto;
}


.card-col-action a,
.card-col-action button,
.card-col-info a {
    height: 100%;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.card-col-options div:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}


.item-card i {
    font-size: 1.25rem;
}

.card-col-secondary {
    max-width: 140px;
    min-width: 120px;
    padding: 10px;
    text-align: center;
}

.minitexto {
    font-size: 8pt;
    font-weight: normal;
}

.textomenor {
    font-size: 0.9em;
}

/* Muestra los saltos de linea */
.p-descripcion {
    white-space: pre-line;
    text-align: justify;
}

/* Miniatura de habitacion en hotel */
.imagenminihotel {
    margin-right: 5px;
    min-width: 100px;
    width: 100px;
    height: 100%;
}

/* Tablas falsas para opciones en habitaciones */
.faketable {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #dee2e6;
    margin-bottom: 1rem;
}

.fakeheader {
    height: 3.7em;
    background-color: #212529;
    background-image: var(--bs-gradient) !important;
    align-self: flex-start;
}

.hotelheader {
    color: white;
    font-weight: bold;
}

.reservheaderl {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #212529;
    background-image: var(--bs-gradient) !important;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

/* Componentes para el panel de confirmacion de reserva */

/* Miniatura de confirmacion de reserva */
.thumbimage {
    min-width: 200px;
    width: 100%;
    height: auto;
}

/* Primer panel de confirmacion de reserva */
.resconfdiv1 {
    max-width: 400px;
    min-width: 300px;
}

/* .resconfdiv2 {} */

.resconfdiv2 p {
    min-width: max-content;
}

/* Contenido de perfiles */
/* Barra de busqueda */
.opciones {
    max-width: 300px;
    min-width: 250px;
    margin-right: 30px;
    max-height: fit-content;
    padding: 5px;
    align-self: flex-start;
}

/* Listade datos */
.profilecell {
    display: flex;
    flex-direction: row;
    height: 60px;
    /* border-bottom: solid; */
    align-items: center;
    /* border-width: 1pt; */
}

/* .profilecell:first-of-type {
    border-top: solid;
    border-width: 1pt;
} */

.profilecell p {
    margin-bottom: 0px;
}

.proflabel {
    min-width: 125px;
}

/* Controla tamaños del panel de opciones de perfil */
.panelops {
    gap: 075rem;
}

.panelops a,
.panelops button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Ajustes en base al tamaño de la pantalla */
@media only screen and (max-width: 1200px) {
    .cajavaloramain {
        grid-template-areas: 'left right';
        grid-template-columns: repeat(2, 1fr);
        /* width: 100%; */
    }

}


@media only screen and (max-width: 1050px) {}

@media only screen and (max-width: 1000px) {


    .caja,
    .caja-alt {
        margin-left: 0px;
        margin-right: 0px;
    }

    .imagenminihotel {
        display: none;
    }

}

@media only screen and (max-width: 900px) {

    #inicio {
        flex-direction: column;
        width: 100% !important;
        align-items: center;
        /* min-width: fit-content; */
    }

    /* main {
    width: 100%
                padding-left: 10px;
        padding-right: 10px;
    } */

    .busqueda,
    .opciones {
        min-width: 100%;
        align-self: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #inicio>.container-md {
        padding-left: 0px;
        padding-right: 0px;
    }

    .cajavaloraform {
        width: 100%;
    }

    .panelops {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.75rem;
        justify-content: center;
    }

    .panelops a,
    .panelops button {
        width: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /*
    .panelops a:first-child {
        margin-left: 0px !important;
        margin-right: 10px;
    } */

    .profilecell {
        flex-direction: column;
        align-items: baseline;
        margin-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }

    .profilecell:first-of-type {
        padding-top: 10px;
    }

    .profilecell .proflabel {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .profilecell .proftext {
        margin-bottom: 10px;
    }
}

/* Estilo de alertas */
.floating-alert {
    animation: slideIn 0.6s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media only screen and (max-width: 767px) {
    main {
        max-width: 95%;
    }

    .cajavalora {
        max-width: 300px;
        width: auto;
        min-width: 250px;
    }

    .caja,
    .caja-alt {
        min-width: 100%;
    }

    #resconfmain {
        flex-direction: column !important;
        width: 100%;
        align-items: center;
    }

    .resconfdiv1 {
        min-width: 80%;
    }
    .item-card{
        gap: 8px;
    }

    
.card-col-action,
.card-col-info,
.card-col-lone{
    width: 40px;
}

    .reserveView {
        padding: 0px 8px;
        flex-wrap: wrap;
        gap: 5px;
    }

    .card-col-primary,
    .card-col-user,
    .card-col-content,
    .card-col-stat,
    .card-col-secondary {
        min-width: auto;
    }

    .card-col-options {
        width: 100%;
        min-width: 80px;
    }

}

@media only screen and (max-width: 690px) {

    .resconfdiv1 {
        min-width: 100%;
    }

    .imgcaja {
        display: none;
    }

    .hide600 {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    .cajavaloraform-p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .cajavalora {
        min-width: 210px;
    }

    .hotelview>.container {
        margin-left: 0px;
        margin-right: 0px;
    }
}