<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/fragments.html::cabecera}">
    <title>Hoteles Galicia: Registro</title>
</head>

<body>
    <header th:replace="~{/fragments.html::logo}"></header>
    <main class="justify-content-center">
        <div class="container formregistro" th:if="${tipo=='usuario'}">
            <h2 class="mb-4">Registro de usuario:</h2>
            <form class="row g-3" method="post" action="#" th:action="@{/register/usuario/submit}"
                th:object="${fusuario}">
                <div class="col-md-6">
                    <label for="correo" class="form-label"><b>Correo</b> </label>
                    <input type="email" class="form-control" th:field="*{correo}" id="correo">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="Contraseña" class="form-label"><b>Contraseña</b> </label>
                    <input type="password" class="form-control" th:field="*{contraseña}" id="contraseña">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('contraseña')}"
                        th:errors="*{contraseña}">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="nombre" class="form-label"><b>Nombre</b> </label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="apellido" class="form-label"><b>Apellidos</b> </label>
                    <input type="text" class="form-control" th:field="*{apellido}" id="apellido">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('apellido')}"
                        th:errors="*{apellido}">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="telefono" class="form-label"><b>Telefono</b> </label>
                    <input type="tel" class="form-control" th:field="*{telefono}" id="telefono">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('telefono')}"
                        th:errors="*{telefono}">
                    </div>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    <button type="reset" class="btn btn-primary">Reestablecer</button>
                </div>
            </form>
        </div>

        <div class="container formregistro" th:if="${tipo=='empresa'}">
            <h2 class="mb-4">Registro de empresa:</h2>
            <form class="row g-3" method="post" action="#" th:action="@{/register/empresa/submit}"
                th:object="${fempresa}">
                <div class="col-md-12">
                    <label for="correo" class="form-label"><b>Correo</b> </label>
                    <input type="email" class="form-control" th:field="*{correo}" id="correo">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="Contraseña" class="form-label"><b>Contraseña</b> </label>
                    <input type="password" class="form-control" th:field="*{contraseña}" id="contraseña">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('contraseña')}"
                        th:errors="*{contraseña}">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="nombre" class="form-label"><b>Razon social</b> </label>
                    <input type="text" class="form-control" th:field="*{razon}" id="razon">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('razon')}" th:errors="*{razon}">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="apellido" class="form-label"><b>CIF</b> </label>
                    <input type="text" class="form-control" th:field="*{cif}" id="cif">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}">
                    </div>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    <button type="reset" class="btn btn-primary">Reestablecer</button>
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="~{/fragments.html::pie}"></footer>
    <div th:replace="~{/fragments.html::alertas}"></div>
</body>

</html>