<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/fragments.html::cabecera}">
    <title>Hoteles Galicia</title>
</head>

<body>
    <header th:replace="~{/fragments.html::logo}"></header>
    <nav th:replace="~{/fragments.html::navbar}"></nav>
    <main class="w-75">
        <h3 sec:authorize="hasAnyRole('ADMIN')" class="mb-4">Reservas de <span th:text="${nombre}"></span>
        </h3>
        <h3 sec:authorize="hasAnyRole('CORPORATION')" class="mb-4">Reservas de <span th:text="${hotel.nombre}"></span>
        </h3>
        <h3 sec:authorize="hasAnyRole('USER')" class="mb-4">Mis reservas
        </h3>
        <div class="w-100">
            <div sec:authorize="hasAnyRole('ADMIN')">
                <a th:if="${type == 'hotels'}" th:href="@{/hotel/{id} (id=${typeid})}"
                    class="btn btn-primary me-auto">Volver</a>
                <a th:if="${type == 'users'}" th:href="@{/admin/users/{id} (id=${typeid})}"
                    class="btn btn-primary me-auto">Volver</a>
            </div>
            <a sec:authorize="hasAnyRole('CORPORATION')" th:href="@{/enterprise/hotels/{id} (id=${hotel.id})}"
                class="btn btn-primary me-auto">Volver</a>

            <div th:each="rese:${reservas}" class="item-card d-flex flex-row border rounded-3 my-3">
                <div class="item-card d-flex flex-row reserveView">
                    <div sec:authorize="hasAnyRole('ADMIN')" class="card-col-primary">
                        <div th:if="${type == 'users'}">
                            <p class="fw-bold">Usuario</p>
                            <p><a th:href="@{/hotel/{id} (id=${rese.nombreId})}" th:text="${rese.nombre}"></a></p>
                        </div>
                        <div th:if="${type == 'hotels'}">
                            <p class="fw-bold">Cliente</p>
                            <p><a th:href="@{/admin/users/{id} (id=${rese.nombreId})}" th:text="${rese.nombre}"></a></p>
                        </div>
                    </div>
                    <div sec:authorize="hasAnyRole('CORPORATION')" class="card-col-primary">
                        <p class="fw-bold">Cliente</p>
                        <p th:text="${rese.nombre}"></p>
                    </div>
                    <div sec:authorize="hasAnyRole('USER')" class="card-col-primary">
                        <p class="fw-bold">Hotel</p>
                        <p><a th:href="@{/hotel/{id} (id=${rese.nombreId})}" th:text="${rese.nombre}"></a></p>
                    </div>
                    <div class="card-col-secondary">
                        <p class="fw-bold">Fechas</p>
                        <p class="card-date" th:text="${#temporals.format(rese.fechaInicio, 'dd MMM yyyy')}"></p>
                        <p class="card-date" th:text="${#temporals.format(rese.fechaFin, 'dd MMM yyyy')}"></p>
                    </div>
                    <div class="card-col-stat">
                        <!-- <p class="fw-bold hideable-list-header">Personas</p> -->
                        <p class="icon-header-small-screen" title="Personas">
                            <i class="bi bi-person-standing"></i>
                        </p>
                        <p class="" th:text="${rese.personas}"></p>
                    </div>
                    <div class="card-col-stat">
                        <!-- <p class="fw-bold hideable-list-header">Habitaciones</p> -->
                        <p class="icon-header-small-screen" title="Habitaciones"><i class="bi bi-door-open"></i></p>
                        <p class="" th:text="${rese.habitacionestotal}"></p>
                    </div>
                    <div class="card-col-stat">
                        <p class="fw-bold">Total</p>
                        <p th:text="'€ ' + ${#numbers.formatDecimal(rese.costototal,0,0)}"></p>
                    </div>
                    <div class="card-col-secondary">
                        <p class="fw-bold">Estado</p>
                        <p th:text="${rese.estado}"></p>
                    </div>
                </div>
                <div sec:authorize="hasAnyRole('ADMIN')" class="card-col-options">
                    <div class="card-col-info">
                        <a
                            th:href="@{/admin/{type}/{typeid}/reserves/{idre} (type=${type},typeid=${typeid},idre=${rese.id})}">
                            <i class="bi  bi-info-square-fill"></i></a>
                    </div>
                </div>
                <div sec:authorize="hasAnyRole('CORPORATION')" class="card-col-options">
                    <div class="card-col-info">
                        <a th:href="@{/enterprise/hotels/{id}/reserves/{idre} (id=${rese.nombreId},idre=${rese.id})}">
                            <i class="bi  bi-info-square-fill"></i></a>
                    </div>
                </div>
                <div sec:authorize="hasAnyRole('USER')" class="card-col-options">
                    <a class="card-col-info" th:href="@{/user/reserves/{id} (id=${rese.id})}">
                        <i class="bi  bi-info-square-fill"></i>
                    </a>
                    <form th:if="${rese.estado.name() != 'CANCELADA' && rese.estado.name() != 'FINALIZADA'}"
                        th:action="@{/user/reserves/cancel}" method="post"
                        onsubmit="return confirm('Está seguro que desea cancelar la reserva?')" class="card-col-action">
                        <input type="hidden" name="id" th:value="${rese.id}" />
                        <button type="submit" class="btn btn-link p-0"><i class="bi bi-x-lg"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div th:if="${totalPages > 1}" class="container d-flex justify-content-center mt-4 mb-5">
            <nav aria-label="Navegación de reservas" class="paginador">
                <ul class="pagination justify-content-center">

                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/{type}/{typeid}/reserves(type=${type}, typeid=${typeid}, page=0)}">
                            <i class="bi bi-chevron-double-left"></i>
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/admin/{type}/{typeid}/reserves(type=${type}, typeid=${typeid}, page=${currentPage - 1})}">
                            Anterior
                        </a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:if="${i >= currentPage - 2 and i <= currentPage + 2}" class="page-item"
                        th:classappend="${currentPage == i} ? 'active'">
                        <a class="page-link"
                            th:href="@{/admin/{type}/{typeid}/reserves(type=${type}, typeid=${typeid}, page=${i})}"
                            th:text="${i + 1}">1</a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/admin/{type}/{typeid}/reserves(type=${type}, typeid=${typeid}, page=${currentPage + 1})}">
                            Siguiente
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/admin/{type}/{typeid}/reserves(type=${type}, typeid=${typeid}, page=${totalPages - 1})}">
                            <i class="bi bi-chevron-double-right"></i>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </main>
    <footer th:replace="~{/fragments.html::pie}"></footer>
    <div th:replace="~{/fragments.html::alertas}"></div>
</body>

</html>